---
import '../styles/tailwind.css'
import Button from "../components/Button.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" aria-label="descriptive-link" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="description is awesome" />
		<title>Astro</title>
	</head>
	<body>
		<div class="grid place-items-center h-screen content-center">
			<h1 class="my-2">Welcome to Astro! Deployed Successfully!</h1>
			<Button>Click Me!</Button>
		</div>
	</body>
</html>
